.popup-img__button-close {
	width: 32px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	background-image: url(../../../images/close-icon.svg);
	position: absolute;
	right: -35px;
	top: -35px;

}

.popup-img__button-close:hover {
	transition: 0.2s;
	opacity: 0.6;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.popup-img__button-close {
		width: 20px;
		height: 20px;
		background-size: cover;
		left: 262px;
		bottom: 338px;
	}
}
