.popup-img__img {
	max-width: 87vh;
	max-height: 64vh;
}

@media screen and (max-width: 1023px) {
	.popup-img__img {
		max-width:55vh;
		max-height: 55vh;
	}
}

@media screen and (max-width: 767px) {
	.popup-img__img {
		max-height: 32vh;
		max-width: 28vh;
	}
}
