.profile__info {
    display: grid;
    grid-template-areas: 		
        "profile__avatar profile__name profile__edit-button"
        "profile__avatar profile__about profile__edit-button";
    max-width: 500px;
}